.cookie {
    background: transparent;
    border: none;
    bottom: 40px;
}

.totalcookies {
    position: relative;
    left: 100px;
    top: 10px;
}

.somuchcookies {
    position: relative;
    left: 141px;
}

.cookieobtained {
    position: absolute;
    left: 400px;
    top: 400px;
    opacity: 0%;
}

.cookieobtained2 {
    position: absolute;
    right: 30px;
    bottom: 220px;
    opacity: 0%;
}