
.dot {
    height: 500px;
    width: 500px;
    background-color: $primary;
    border-radius: 50%;
    display: inline-block;
    background-image: url("itsacookie.png");
    position: relative;
    right: 30px;
    bottom: 40px;
}